[user]
	name = Aaron Bassett
	email = abassett@gmail.com
[color]
	ui = true
[alias]
	vd = !git diff | vim -R -
	ignore = !git update-index --assume-unchanged 
	unignore = !git update-index --no-assume-unchanged
	ignored = !git ls-files -v | grep ^[a-z]
[push]
	default = tracking
[help]
	autocorrect = 1
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
